---
import Navigation from '../components/Navigation.astro';
import BlogCard from '../components/BlogCard.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import '../styles/blog.css';
import '../styles/footer.css';

let index = 0;

const blogsData = [
  {name: "UTSC COURSE TIER LIST!", date: "2025-06-16", description: "A quick ranking that will be expanded upon in future posts about my first year courses at UTSC as a CS Specialist and Math Major", link: "/posts/UTSC_Course_Tier_List", image: ""}
]
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog</title>
      <style>
        html {
          background-image: url("../images/Blog_Tiles.png");
        }
      </style>
	</head>
	<body>
    <Navigation/>
    <div class="about">
      <p class="about-text">Welcome to my blog!</p>
    </div>
    <p class="separator">·•—–––––––•·</p>
    <div class="blog">
      {blogsData.map((data) => <BlogCard name={data.name} date={data.date} description={data.description} link={data.link} image={data.image} index={index++}/>)}
    </div>
    <Footer/>
	</body>
</html>
