---
import Navigation from '../components/Navigation.astro';
import '../styles/global.css';
import '../styles/home.css';

const TETRIO_API:string = 'https://ch.tetr.io/api/users/groober/summaries/league';
const response = await fetch(TETRIO_API);
const data = await response.json();

let date = new Date();
let time = date.toLocaleString('en-US', {hour: '2-digit', minute: '2-digit', hour12: true, timeZone: 'America/New_York' });
---

<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Richard Zhang</title>
        <style>
            html{
                background-image: url("../images/Home_Tiles1.png");
            }
        </style>
	</head>
	<body>
        <Navigation/>
		<div class="hero">
            <h1>Richard Zhang</h1>
        </div>
        <div class="separator">
            <h1>·•—–٠✤٠—–•·</h1>
        </div>
		<div class="about">
			<p class="about-text">
				Looks like you've found your way to my website! 
				In case you didn't see the giant text above, I'm Richard, but you may also know me as groober online.
				I'm currently in my first year at UofT studying computer science.
			</p>
			<p class="about-text">
				I like game dev, digital art, and 3d modelling, although I'm certainly much less experienced with the latter few.
				Besides that I develop some random cool things sometimes (like this website!).
			</p>
			<p class="about-text">
				Also, send me a message on Discord if you wanna play tetris 👀.
			</p>
		</div>
		<div class="secrets" style="padding-bottom: 4rem;">
			<p class="secrets-text">↓↓ secrets below... ↓↓</p>
			<div class="time">
				<p class="secrets-subtitle-text">My Current Time</p>
				<p class="separator">·•—–––––––•·</p>
				<p style="font-size: 1.5rem;">As of opening this page it is currently...</p>
				<p style="font-size: 1.5rem; text-decoration: underline;">{time}</p>
			</div>
			<div class="tetris">
				<p class="secrets-subtitle-text">Live Tetris Standing</p>
				<p class="separator">·•—–––––––•·</p>
				<p style="font-size: 1.4rem;">Current Tetris Rating: {data.data.tr.toFixed(2)} | Top {data.data.standing} Global</p>
				<p style="font-size: 1.2rem;">Stats: {data.data.apm} APM | {data.data.pps} PPS | {data.data.vs} VS</p>
				<p>Check me out right <a href="https://ch.tetr.io/u/groober">here</a>!</p>

			</div>
			<div class="gif">
				<p class="secrets-subtitle-text">Current Favourite Gif</p>
				<p class="separator">·•—–––––––•·</p>
				<div class="tenor-gif-embed" data-postid="14465458220549268962" data-share-method="host" data-aspect-ratio="1.8125" data-width="50%"><a href="https://tenor.com/view/buh-gif-14465458220549268962">Buh GIF</a>from <a href="https://tenor.com/search/buh-gifs">Buh GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
			</div>
		</div>
	</body>
</html>
