---
import Navigation from '../components/Navigation.astro';
import ProjectCard from '../components/ProjectCard.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import '../styles/projects.css';
import '../styles/footer.css';

let index = 0;

const projectsData = [
	{name: "BURGERPUNK", description1: "Defend and manage your restaurant in this fast-paced first-person shoot-em-up hybrid! Made for Gamedev.js Jam 2025", description2: "PLAY IT HERE", link: "https://chillhopper.itch.io/burgerpunk", image: "src/images/projectimages/Burgerpunk.png"},
	{name: "To The Depths", description1: "Descend the ocean to uncover the secrets of the depths in this endless diving simulator! Made for Brackeys Jam 2023.2", description2: "PLAY IT HERE", link: "https://groober.itch.io/to-the-depths", image: "src/images/projectimages/ToTheDepths.png"},
	{name: "THE PIT", description1: "When all you can do is to keep going. Made for ENG4U", description2: "PLAY IT HERE", link: "https://groober.itch.io/the-pit", image: "src/images/projectimages/ThePit.png"},
	{name: "Nature Sentinel", description1: "Defend nature in this turn&grid-based card game. Made for ICS3U", description2: "PLAY IT HERE", link: "https://groober.itch.io/nature-sentinel", image: "src/images/projectimages/NatureSentinel.png"},
	{name: "BLIZZARD BASH", description1: "Multiplayer free for all snowball fight game made for our school's \"Blizzard Bash\"", description2: "CHECK IT OUT HERE", link: "https://github.com/trudeaugamedev/Blizzard-Bash", image: "src/images/projectimages/BlizzardBash.png"},
	{name: "Anger Management", description1: "Physics based destruction game for YRhacks 2023", description2: "PLAY IT HERE", link: "https://groober.itch.io/anger-management", image: "src/images/projectimages/AngerManagement.png"}
];

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Projects</title>
		<style>
			html {
				background-image: url("../images/Projects_Tiles.png");
			}
		</style>
	</head>
	<body>
        <Navigation />
		<div class="about">
			<p class="about-text">Here's a collection of things I've worked on</p>
			<p class="about-text" style="font-size: 1.5rem;">Check out my Github right <a href="https://github.com/groobob" target="_blank">here</a>!</p>
		</div>
		<p class="separator">·•—–––––––•·</p>
		<div class="projects">
			{projectsData.map((data) => <ProjectCard name={data.name} description1={data.description1} description2={data.description2} link={data.link} image={data.image} index={index++}/>)}
		</div>
	</body>
	<Footer/>
</html>
