---
import Navigation from '../components/Navigation.astro';
import ProjectCard from '../components/ProjectCard.astro';
import '../styles/global.css';

const projectsData = [
	{name: "a", description: "1", link: "1", image: "1"},
	{name: "b", description: "2", link: "2", image: "2"},
];

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<style>
			html {
				background-image: url("../images/Projects_Tiles.png");
			}
		</style>
	</head>
	<body>
        <Navigation />
		{projectsData.map((data) => <ProjectCard name={data.name} description={data.description} link={data.link} image={data.image}/>)}
	</body>
</html>
