---
const {name, description, link, image, index} = Astro.props;
const timeDelayFactor = .1;
const timeDelay = `${index*timeDelayFactor}s`;
---
<style define:vars={{ timeDelay }}>
    .projects-card {
        animation-delay: var(--timeDelay);
    }
</style>
<div class="projects-card">
    <p>{name}</p>
    <p>{description}</p>
    <p>{link}</p>
    <p>{image}</p>
    <p>{index}</p>
</div>