---
const {name, description1, description2, link, image, index} = Astro.props;
const timeDelayFactor = .1;
const timeDelay = `${index*timeDelayFactor}s`;
const cardImage = `url(${image})`;
---
<style define:vars={{ timeDelay, cardImage }}>
    .projects-card
    {
        animation-delay: var(--timeDelay);        
    }
    .projects-image
    {
        background-image: var(--cardImage);
    }
</style>
<div class="projects-card">
    <p>{name}</p>
    <div class="projects-image">
        <div class="projects-description">
            <p style="margin-inline: .5rem;">{description1}<br><br></p>
            <p style="margin-top: -1.5rem; margin-inline: .5rem;"><a href={link} target="_blank">{description2}</a></p>
        </div>
    </div>
</div>